# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
benchmarks/cache-scratch/cache-scratch-a2alloc-dbg
benchmarks/cache-scratch/cache-scratch-kheap-dbg
benchmarks/cache-scratch/cache-scratch-libc-dbg
benchmarks/cache-thrash/cache-thrash-a2alloc-dbg
benchmarks/cache-thrash/cache-thrash-kheap-dbg
benchmarks/cache-thrash/cache-thrash-libc-dbg
benchmarks/larson/larson-a2alloc-dbg
benchmarks/larson/larson-kheap-dbg
benchmarks/larson/larson-libc-dbg
benchmarks/linux-scalability/linux-scalability-a2alloc-dbg
benchmarks/linux-scalability/linux-scalability-kheap-dbg
benchmarks/linux-scalability/linux-scalability-libc-dbg
benchmarks/phong/phong-a2alloc-dbg
benchmarks/phong/phong-kheap-dbg
benchmarks/phong/phong-libc-dbg
benchmarks/simple/simple-a2alloc-dbg
benchmarks/simple/simple-kheap-dbg
benchmarks/simple/simple-libc-dbg
benchmarks/threadtest/threadtest-a2alloc-dbg
benchmarks/threadtest/threadtest-kheap-dbg
benchmarks/threadtest/threadtest-libc-dbg
